.login-card {
  min-height: 80px;
}

mat-card-content {
  margin-top: 20px;
}

button {
  background: #fafafa;
  margin: 0 20px 0 20px
}

.btn-login {
  float: left;
}


.btn-register {
  float: right;
}
