mat-toolbar {
  background: cornflowerblue;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.content {
  display: flex;
  padding: 16px;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
}
.btn-login {
  color: white;
  background: cornflowerblue;
}
